body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  position: relative;
}


/* ヘッダ */
.header{
  height: 70px;
  background-color: #735EAB;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.header > h1 {
  color: white;
  font-size: 2.2rem;
  text-align: center;
  flex-grow: 1;
}

.header > .setting {
  margin-left: auto;
}


/* ログインページ */
.login{
  margin-top: 200px;
}

.login > div{
  margin-top: 50px;
}

/* ナビゲーション */
.Navi{
  width: 100%;
  position: fixed;
  bottom: 0; /*下に固定*/
}

/* パーソナルタスク */
.submit{
  display: inline-block;
}

.shimekiri{
  display: inline-block;
}

.Picon{
  text-align: left;
  float: left;
  clear: left;
}

.Ptask{
  text-align: left;
}

.Pcom{
  clear: right;
}
.Padd{
  float: right;
}

/* タスク詳細 */

.Dmenu{
  text-align: center;
}
.Dback{
  text-align: left;
  float: left;
  clear: left;
}

.Dtitle{
  text-align: left;
  clear: right;
  font-size: larger;
}

.Dline{
  background-color: gray;
}