body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ヘッダ */
.header{
  height: 75px;
  background-color: #735EAB;
  color: white;
  font-size: 2.2rem;
  text-align: center;
  vertical-align: middle;
}


/* ログインページ */
.login{
  margin-top: 200px;
}


/* ナビゲーション */
.Navi{
  display: inline-block;
  width: 100%;
}
.login > div{
  margin-top: 50px;
}

/* パーソナルタスク */
.submit{
  display: inline-block;
}

.shimekiri{
  display: inline-block;
}